{% extends 'sequence_analyzer/base.html' %}

{% block content %}
<div class="text-center">
    <h1 class="display-4 mb-4">Privacy Policy</h1>
</div>
    
<!-- Main Content Section -->
<div class="container mb-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <div class="card border-0 shadow-sm">
                <div class="card-body p-5">
                    <div class="row">
                        <div class="col-12">
                            <p class="fs-5 text-muted mb-4 lh-lg">
                                It was created to help researchers rapidly detect which antibodies in a sample are
                                likely to recognize a particular viral antigen, without requiring paired chains or
                                structural modeling.
                            </p>

                            <p class="fs-5 text-muted mb-4 lh-lg">
                                ASPred learns antigen-specific patterns from experimentally validated datasets and
                                provides pretrained models for three major viral targets:
                            </p>

                            <p class="fs-5 text-muted mb-4 lh-lg">
                                These models allow users to screen bulk or single-cell BCR repertoires and estimate
                                which sequences are enriched for antigen recognition. ASPred can be applied for antibody
                                discovery, repertoire characterization, immune monitoring, and hypothesis generation in
                                vaccine and infectious-disease research.
                            </p>

                            <p class="fs-5 text-muted mb-5 lh-lg">
                                By making these three pretrained classifiers publicly available, ASPred offers a simple
                                and scalable tool for exploring antigen specificity across diverse immune repertoires.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
